@import 'https://fonts.googleapis.com/css?family=Open+Sans';

* {
    margin: 0;
}

::selection {
    background: #ff7e22; /* WebKit/Blink Browsers */
}

::-moz-selection {
    background: #ff7e22; /* Gecko Browsers */
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    cursor: default;
    background-color: #efefef;
}

a:-webkit-any-link {
    color: black;
    text-decoration: none;
}

.hover-bar, .underline {
    width: 10px;
    height: 4px;
    background-color: #000;
    transition-duration: 0.6s;
}

    .hover-bar:hover {
        width: 25px;
    }

@media (min-width: 528px) {
    .hamburger-menu {
        display: none;
    }

    #nav-bar {
        display: block;
        width: 100vw;
        height: 70px;
    }

    .nav-bar-item {
        width: calc(25% - 20px);
        height: calc(100% - 20px);
        padding: 10px;
        text-align: center;
        text-transform: uppercase;
        float: left;
        color: #efefef;
        background-color: #646464;
        transition-duration: 0.3s;
    }

    .nav-bar-item:hover {
        opacity: 0.9;
    }

        .nav-bar-item .item-text {
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            font-size: 1.17em;
            font-weight: bold;
        }

        .nav-bar-item img {
            height: 100%;
            width: auto;
        }

    #logo {
        background-color: #424242;
    }
    #logo:hover {
        opacity: 0.9;
    }
}

@media (max-width: 527px) {
    #nav-bar {
        display: none;
    }

    ul.hamburger-menu {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #424242;
    }

        ul.hamburger-menu li {
            float: left;
        }

            ul.hamburger-menu li a {
                display: inline-block;
                color: #f2f2f2;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
                transition: 0.3s;
                font-size: 17px;
                text-align: center;
            }

                ul.hamburger-menu li a:hover {
                    background-color: #555;
                }

            ul.hamburger-menu li.icon {
                display: none;
            }

        ul.hamburger-menu img {
            width: 17px;
            height: auto;
        }

        ul.hamburger-menu li:not(:first-child) {
            display: none;
        }

        ul.hamburger-menu li.icon {
            float: right;
            display: inline-block;
        }

        ul.hamburger-menu.responsive {
            position: relative;
            z-index: 1;
        }

            ul.hamburger-menu.responsive li.icon {
                position: absolute;
                right: 0;
                top: 0;
            }

            ul.hamburger-menu.responsive li {
                float: none;
                display: inline;
            }

                ul.hamburger-menu.responsive li a {
                    display: block;
                    text-align: left;
                }

    #hamburger-logo:hover {
        background-color: #333 !important;
    }
}